<header>

    <style>
        body {
            background: #edf1f5;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid transparent;
            border-radius: 0;
        }

        .btn-circle.btn-lg, .btn-group-lg > .btn-circle.btn {
            width: 50px;
            height: 50px;
            padding: 14px 15px;
            font-size: 18px;
            line-height: 23px;
        }

        .text-muted {
            color: #8898aa !important;
        }
/* 
        [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
            cursor: pointer;
        } */

        .btn-circle {
            border-radius: 100%;
            width: 40px;
            height: 40px;
            padding: 10px;
        }

        .user-table tbody tr .category-select {
            max-width: 150px;
            border-radius: 20px;
        }

    </style>
</header>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0" id="UserTableData">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">PhoneNumber</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Status</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">User Role</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                            </tr>
                        </thead>
                        <tbody id="UsertableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function UpdateUser(id) {
        var Cr_user = localStorage.getItem("User");
        if (Cr_user == id){
            alert("You Can not Update Your Permission");
            return;
        }

        const role = document.getElementById('userRole' + id).value == "1" ? true : false;
        const status = document.getElementById('userSatatus' + id).value == "1" ? true : false;

        var user = {
            username: id,
            role: role,
            status: status,
        };
        console.log(JSON.stringify(user));
        $.ajax({
            url: 'http://localhost:5020/api/Users/adminUpdate',
            method: "PUT",
            data: JSON.stringify(user),
            contentType: 'application/json',
            success: response => {
                if (response.message == "OK"){
                    alert("Update User Successfully");
                }else {
                    alert("Update User Fail");
                }
            },
            error: error => {
                alert("Update User Fail");
            }
        })
    }

    function GetAllUser(){
        var path = "http://localhost:5020/api/Users";

        $.ajax({
            url: path,
            method: "GET",
            contentType: 'application/json',
            success: response => {
                if (response.message == "OK") {
                    const tableBody = document.querySelector("#UserTableData tbody");
                    tableBody.innerHTML = "";
                    var i = 1;
                    response.data.forEach(user => {
                        var tr =
                            '<tr>'
                            + '<td class="pl-4">' + i + '</td>'
                            + '<td><h5 class="font-medium mb-0" > ' + user.username.trim() + ' </h5>'
                            + '<span class="text-muted" > ' + user.firstName.trim() + ' ' + user.lastName.trim() + ' </span>'
                            + '</td>'
                            + '<td><span class="text-muted"> ' + user.phonenumber.trim() + ' </span></td>'
                            + '<td><span class="text-muted"> ' + user.email.trim() + ' </span></td>'
                            + '<td>'
                            + '<select class="form-control category-select" id="userSatatus' + user.username.trim() + '">'
                            + getStatus(user.status)
                            + '</select>'
                            + '</td>'
                            + '<td>'
                            + '<select class="form-control category-select" id="userRole' + user.username.trim() + '">'
                            + getRole(user.role)
                            + '</select>'
                            + '</td>'
                            + '<td >'
                            + '    <button type="submit" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" '
                            + '     id="updatebutton" onclick=UpdateUser("' + user.username.trim() + '")>'
                            + '         <i class="fa fa-edit"></i> </button>'
                            + '</td>'
                            + '</tr>';
                        tableBody.innerHTML += tr;
                        i++;
                    });
                }
            }
        });
    }
    function getRole(role) {
        var option = '<option value=0 ';
        if (role == false) {
            option += 'selected >Admin</option>'
                + '<option value=1 >User</option>';
        }
        else {
            option += ' >Admin</option>'
                + '<option value=1 selected>User</option>';
        }
        return option;
    }
    function getStatus(status) {
        var option = '<option value=0 ';
        if (status == false) {
            option += 'selected >Invalid</option>'
                + '<option value=1 >Valid</option>';
        }
        else {
            option += ' >Invalid</option>'
                + '<option value=1 selected>Valid</option>';
        }
        return option;
    }
    GetAllUser();

</script>