@using System.Security.Claims;
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<head>
    <meta charSet="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=5.0" name="viewport" />
    <link href="https://assets.quizlet.com" rel="preconnect" />
    <link href="/_next/static/media/q-twilight.e27821d9.png" rel="shortcut icon" />
    <link href="/_next/static/media/apple-touch-icon.4233433e.png" rel="apple-touch-icon" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>QuEng</title>
    <meta content="Tự kiểm tra với các câu hỏi và đáp án cho học phần Web Design Exam01 để bạn có thể sẵn sàng cho ngày thi. Khám phá các câu hỏi và bài kiểm tra thử do giáo viên và học sinh tạo, hoặc tự tạo một bài kiểm tra từ tài liệu khóa học của bạn." name="description" />
    <meta name="next-head-count" content="8" />
    <meta content="Quizlet" property="og:site_name" />
    <meta content="light dark" name="color-scheme" />
    <meta content="strict-origin-when-cross-origin" name="referrer" />
    <link href="/manifest.webmanifest" rel="manifest" />
    <link rel="preload" href="https://assets.quizlet.com/_next/static/css/f05093f3681d2a6d.css" as="style" />
    <link rel="stylesheet" href="https://assets.quizlet.com/_next/static/css/f05093f3681d2a6d.css" data-n-g="" />
    <link rel="preload" href="https://assets.quizlet.com/_next/static/css/ba26632eb6645e0e.css" as="style" />
    <link rel="stylesheet" href="https://assets.quizlet.com/_next/static/css/ba26632eb6645e0e.css" data-n-p="" />
    <link rel="preload" href="https://assets.quizlet.com/_next/static/css/d8a3c8525b7070c4.css" as="style" />
    <link rel="stylesheet" href="https://assets.quizlet.com/_next/static/css/d8a3c8525b7070c4.css" data-n-p="" />
    <link rel="preload" href="https://assets.quizlet.com/_next/static/css/523d2f3317bd603a.css" as="style" />
    <link rel="stylesheet" href="https://assets.quizlet.com/_next/static/css/523d2f3317bd603a.css" data-n-p="" />
    <link rel="preload" href="https://assets.quizlet.com/_next/static/css/2f6eb07895688307.css" as="style" />
    <link rel="stylesheet" href="https://assets.quizlet.com/_next/static/css/2f6eb07895688307.css" data-n-p="" />
</head>
<body class="theme-default flex-sidebar" data-theme-pref="auto" data-theme-from-syst="true">
    
    <div class="site">
        <div id="__next" data-reactroot="">
            <link as="script" href="https://securepubads.g.doubleclick.net/tag/js/gpt.js" rel="preload" />
            <link as="script" href="https://assets.quizlet.com/static/prebid-latest-b1fa1b3f11.js" rel="preload" />
            <link as="script" href="https://c.amazon-adsystem.com/aax2/apstag.js" rel="preload" />
            <main>
                <main>
                    <div class="c9n7z4x">
                        <div class="p10zjxty">
                            <div class="c1gi3y8b" style="--c1gi3y8b-2:auto">
                                <div class="irc6ilh">
                                    <div class="miqwopc" style="--miqwopc-0:1">
                                        <div data-overlay-container="true">
                                            <button type="button" tabindex="0" aria-haspopup="true" aria-expanded="false" id="react-aria-1" aria-label="Kiểm tra" class="AssemblyButtonBase AssemblyTextButton AssemblyTextButton--secondary AssemblyButtonBase--xlarge">
                                                <svg aria-label="mode test" class="AssemblyIcon AssemblyIcon--large" role="img">
                                                    <noscript></noscript>
                                                    <use xlink:href="#study-test-twilight"></use>
                                                    <noscript></noscript>
                                                </svg>
                                                <svg aria-label="dấu mũ chỉ xuống" class="AssemblyIcon AssemblyIcon--large" role="img">
                                                    <noscript></noscript>
                                                    <use xlink:href="#caret-down"></use>
                                                    <noscript></noscript>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="pewd1ns">
                                        <section class="sil39py">
                                            <section class="sd72jj0" id="subjectName">Web Design Exam01</section>
                                        </section>
                                    </div>
                                    <div class="anbpm9l">
                                        <div class="e7wjffp">
                                            <button onclick="QuitExam()" type="button" aria-label="Trở về" class="AssemblyButtonBase AssemblyIconButton AssemblyIconButton--secondary AssemblyIconButton--square AssemblyButtonBase--medium AssemblyButtonBase--square" title="Quit">
                                                    Quit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="cgyrcnx" style="--cgyrcnx-1:none;--cgyrcnx-2:0">
                                    <div data-progress="0" data-testid="ProgressBar-progress" class="byhd60" style="--byhd60-0:#7583FF;--byhd60-1:0%;--byhd60-2:0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="h1btwfkc">
                        <div data-testid="screen-content">
                            <div class="a1f2m6c4">
                                <div class="s49zntr">
                                    <section data-testid="mcq-test-section" class="t1nasyf8" style="--t1nasyf8-2:1rem;--t1nasyf8-4:1rem;--t1nasyf8-12:2rem">
                                        <div role="list">
                                            <div class="" id="QuestionExam">
                                                
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <section class="rnt9ili cdm2lgu t1nasyf8" style="--t1nasyf8-2:1rem;--t1nasyf8-4:1rem;--t1nasyf8-12:2rem">
                                    <section data-testid="practice_test_icon" class="pf4awaf"></section>
                                    <h3 class="h9lvpq">Well Done! Are you ready to submit this Examination?</h3>
                                    <button onclick="submitexam()" type="button" aria-label="Gửi bài kiểm tra" class="AssemblyButtonBase AssemblyPrimaryButton--default AssemblyButtonBase--xlarge AssemblyButtonBase--padding"><span>Submit Examination</span></button>
                                </section>
                                <section class="cdm2lgu t1nasyf8" style="--t1nasyf8-2:1rem;--t1nasyf8-4:1rem;--t1nasyf8-12:2rem"></section>
                            </div>
                        </div>
                    </div>
                </main>
            </main>
        </div>
    </div>
</body>

<script>
    function LoadQuestion() {
        localStorage.clear();
        const urlParams = new URLSearchParams(window.location.search);
        const id = '1';
        // const id = urlParams.get("id");

        localStorage.setItem("SubjectNO", id);
        localStorage.setItem("User", '@User.Claims.SingleOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value');

        $.ajax({
            url: 'http://localhost:5020/api/Subjects/' + id,
            method: 'GET',
            contentType: 'application/json',
            success: res => {
                console.log(res.data);
                if (res.message == 'OK') {
                    const list = document.querySelector("#subjectName");
                    list.innerHTML = res.data.title;
                } else {
                    const list = document.querySelector("#subjectName");
                    list.innerHTML = "Examination";
                }
            },
            error: err => {
                console.log("err title");
            }
        });

        $.ajax({
            url: 'http://localhost:5020/api/Questions/CreateExam?subjectid=' + id,
            method:'GET',
            contentType:'application/json',
            success: res => {
                if (res.message = 'OK') {
                    console.log(res.data);

                    const list = document.querySelector("#QuestionExam");
                    list.innerHTML = "";

                    res.data.forEach(data => {
                        var sec =
                                '<div aria-label="question" role="listitem" class="qq5bf7c" style="--qq5bf7c-0:2rem;--qq5bf7c-2:2rem">'
                                + '   <div id="mcq-0" tabindex="-1" class="q1sjw0yf">'
                                + '      <article aria-live="polite" class="sdz9qxu svwhkoh" style="--svwhkoh-3:0;--svwhkoh-6:1.5rem 2rem 1.5rem;--svwhkoh-13:0.5rem">'
                                + '         <div class="a1bncmms">'
                                + '            <div class="wlbcmo g8d16b6">'
                                + '               <div class="wlbcmo hn7llme">'
                                + '                  <div class="wlbcmo l3h11jy">'
                                + '                     <section class="lwajxlv">Question</section>'
                                + '                  </div>'
                                + '                  <div class="wlbcmo c8ck6sr"></div>'
                                + '                  <div class="wlbcmo rpq3rlv">'
                                + '                     <div class="r1i8yi5w"></div>'
                                + '                  </div>'
                                + '               </div>'
                                + '            </div>'
                                + '            <div class="t4j019x" data-testid="Question Text" style="--t4j019x-0:auto">'
                                + '               <div class="t1gujtze c1sj1twu">'
                                + '                  <div aria-label="A web page and its content exist as a single file" class="FormattedText notranslate FormattedTextWithImage-wrapper lang-en">'
                                + '                     <div style="display:inline-block">' + data.description + '</div>'
                                + '                  </div>'
                                + '               </div>'
                                + '            </div>'
                                + '            <div class="hideBelow--s"></div>'
                                + '         </div>'
                                + '         <div class="ag1fjc">'
                                + '            <section aria-label="Choose The Correct Answer" class="l16m64a6">'
                                + '               <div aria-hidden="true" class="m1crz3gf" data-testid="multiple-choice-answer-label">Choose The Correct Answer</div>'
                                + '            </section>'
                                + '            <div class="ajefojz" data-testid="MCQ Answers">';

                        var listans = [];
                        data.answers.forEach(ans => {
                            // swjz05g
                            listans.push(ans.answerno);
                            sec +=
                                '               <section class="w1uwrq7e " tabindex="0" id="' + data.questionno +'ans'+ ans.answerno + '" onclick=selectAns(' + data.questionno +','+ ans.answerno + ')>'
                                + '                  <div></div>'
                                + '                  <div aria-selected="false" class="t1d08860" data-testid="option-1">'
                                + '                     <div class="c1sj1twu">'
                                + '                        <div aria-label="True" class="FormattedText notranslate FormattedTextWithImage-wrapper lang-en">' + ans.description + '</div>'
                                + '                     </div>'
                                + '                  </div>'
                                + '               </section>'
                            });
                        //add list all ans for a ques
                        localStorage.setItem('listAns' + data.questionno, listans);
                            sec +=
                                '            </div>'
                                + '         </div>'
                                + '      </article>'
                                + '   </div>'
                                + '</div>';

                        list.innerHTML += sec;
                    });
                }
            }
        })
    };
    LoadQuestion();

    function QuitExam() {
        localStorage.clear();
        window.history.back();
    }

    function selectAns(quesno, ansno){
        //answer for each question
        var ans = localStorage.getItem('listAns' + quesno).split(",");
        //all selected answer
        var rs = localStorage.getItem("ResultAns");

        var arr = [];

        if (rs !== null) {
            arr = rs.split(",");
        }

        //remove animation and remove answer
        ans.forEach(item => {
            //remove animation
            var element = document.getElementById(quesno + 'ans' + item);
            element.classList.remove("swjz05g");

            //remove answer
            if (arr !== null) {
                arr = arr.filter(function (items) {
                    return items !== item;
                });
            }
        });

        //update animation for selected answer
        var element = document.getElementById(quesno + 'ans' + ansno);
        element.classList.add("swjz05g");

        arr.push(ansno);

        localStorage.setItem("ResultAns", arr);
    }

    function submitexam(){
        var localData = {
            userName: localStorage.getItem("User"),
            subjectNo: localStorage.getItem("SubjectNO"),
            answerList: localStorage.getItem("ResultAns")
        };

        $.ajax({
            url: 'http://localhost:5020/api/Histories',
            method:'POST',
            data: JSON.stringify(localData),
            contentType: 'application/json',
            success: res => {
                alert("Success");
            },
            error: err => {
                console.log(err.message);
            }
        })
    }
</script>